* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu Mono", sans-serif;
}

.main-container {
  max-width: 800px;
  margin: 1rem auto 1rem;
  /*   background-color: bisque; */
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  /*   background: coral; */
  box-sizing: border-box;
}

.square {
  width: calc(6.25%); /* 100% / 16 = 6.25%, minus border */
  height: 0; /* Initial Height */
  padding-bottom: 6.25%; /* Mantains square aspect ratio */
  /* border: 1px solid #333; */
  /*   margin: 2px; */
  box-sizing: border-box; /* Includes border in total width */
  background: coral;
}

.hover {
  background: #333;
}
